# Node modules folder
node_modules/

# Build artifacts
build/
dist/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# VSCode settings folder
.vscode/

# Coverage folder (for testing frameworks)
coverage/

# Lint and formatting results
eslintcache
.prettiercache

# Temporary files
*.tmp
*.swp

# Package lock files
package-lock.json
yarn.lock

# Dependency directories
.pnp/
.pnp.js

# Next.js
.next/

# Tailwind CSS jit mode
tailwind.config.js

# IDE or Editor specific files
.idea/
*.sublime-workspace

# TypeScript
*.tsbuildinfo
